#body {
  background-image: linear-gradient(to bottom right, #0a0a0a, black);
}

.parallax-slider {
  transition: all 0.25s ease-in-out;
  opacity: 1;
}

.transitioning-src {
  transition: all 0.25s ease-in-out;
  opacity: 0;
}