@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: none;
  /* border: none; */
}

* {
  margin: 0;
  padding: 0;
  border-color: #404040;
  color-scheme: dark;
  scroll-behavior: smooth;
  touch-action: manipulation;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

body,
html {
  color: white;
  background-color: #171717;
}

b {
  font-weight: 600;
  color: rgb(212, 212, 212);
}

#incorrect {
  color: rgb(255 120 120);
  font-weight: 700;
}


.wave-animation:hover {
  animation: wave 0.5s ease-in-out 3 alternate;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(20deg); }
}


button[data-key="user_info"] {
  border: none;
}

button[data-key="server_info"] {
  border: none;
}

button[data-key="moderation"] {
  border: none;
}

button[data-key="fun"] {
  border: none;
}

button[data-key="happiness"] {
  border: none;
}