@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  color-scheme: dark;
  scroll-behavior: smooth;
  color: rgb(255, 255, 255);
  background-color: hsl(240, 10%, 4%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

@font-face {
  font-family: "Whitney";
  src: url("https://cdn.skyra.pw/whitney-font/v2/Book.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Whitney";
  src: url("https://cdn.skyra.pw/whitney-font/v2/Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Whitney";
  src: url("https://cdn.skyra.pw/whitney-font/v2/Semibold.woff") format("woff");
  font-weight: 600;
}
