@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slot-spin {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-500%);
  }
}

.animate-slot-spin {
  animation: slot-spin 0.5s linear infinite;
}

.animation-delay-0 { animation-delay: 0s; }
.animation-delay-1 { animation-delay: 0.1s; }
.animation-delay-2 { animation-delay: 0.2s; }
.animation-delay-3 { animation-delay: 0.3s; }
.animation-delay-4 { animation-delay: 0.4s; } 