@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  overflow-x: hidden;
  color-scheme: dark;
  scroll-behavior: smooth;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 112, 243);
}

#blob {
  translate: -50% -50%;
  background: linear-gradient(to right, aquamarine 0%, mediumpurple 100%);
}